/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #92c9b1, #92c9b1 20px, #b3e0d2 20px, #b3e0d2 40px);
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #2e8b57; /* Verde escuro */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Seção de Contato */
#contato-info {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#contato-info h2 {
    color: #2e8b57;
}

/* Estilo do Formulário de Contato */
#form-contato {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-contato h2 {
    text-align: center;
    color: #2e8b57;
}

#form-contato form {
    display: flex;
    flex-direction: column;
}

#form-contato label {
    margin: 10px 0 5px;
}

#form-contato input,
#form-contato textarea {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

#form-contato button {
    background-color: #2e8b57;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#form-contato button:hover {
    background-color: #1e6b3f;
}

/* Rodapé */
/* Rodapé */
footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 5px; /* Reduzido o padding para 5px */
    position: relative; /* Alterado de fixed para relative */
    width: 100%;
    bottom: 0;
}

